doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.10.0/lodash.min.js')
        script(src='/javascripts/global.js')
        
